[Unit]
Description=Backup postgresql database

[Service]
Type=oneshot
User={{ application_user }}
Group={{ application_user }}
ExecStart=/bin/bash {{ postgresql_backup_bin }}

[Install]
WantedBy=default.target
